body {
    background-image: url(https://i.imgur.com/XI3RqSf.jpg)
}

h1 {
    font-family: 'Freckle Face', cursive;
    text-align: center;
    font-size: 65px;
    color: #9f5a3e
}

h2 {
    font-family: 'Slackey', cursive;
    text-align: center;
    color: rgb(225, 114, 114);
    font-size: 20px;
}

.game-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

/* Styling the Start and Reset Buttons */

.button {
    margin: 0, auto;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

#start {
    text-align: center;
    font-family: 'Slackey', cursive;
    display: inline;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 px #999;
}

#start:hover {background-color: #3e8e41}

#start:active {
    background-color: #3e8341;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#restart {
    text-align: center;
    margin: auto;
    font-family: 'Slackey', cursive;
    display: inline;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e68c58;
    border: none;
    border-radius: 15px;
    box-shadow: 0 px #999;
}

#restart:hover {background-color: #d78560}

#restart:active {
    background-color: #bb5008;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Styling the Round Counter */

.counter-container {
    font-family: 'Freckle Face', cursive;
    text-align: center;
    font-size: 40px;
    line-height: 200px;
    color: white;
    margin: 
    padding: 20px 50px 50px 50px;
}


/* Mole holes */

.moles {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 300px 300px;
    grid-gap: 50px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.mole-button-one, .mole-button-two, .mole-button-three, .mole-button-four {
    /* background: url('https://i.imgur.com/HBv5lQg.png') bottom center no-repeat; */
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    transition: 0.15s;
    background-color: #f25022;
  box-shadow: 0 0 0 1px #f25022 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c93a12, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);

}

.dont-click {
    pointer-events: none;
}

/* TESTING */

.mole-button-one:hover,
.mole-button-one:focus
  {
  background-color: #ff451a;
  box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

.mole-button-one:active,
.mole-button-one.activated
 {
  box-shadow: 0 0 0 1px #ff5c36 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #ff5c36;
  transform: translateY(10px);
}
.mole-button-two:hover,
.mole-button-two:focus
  {
  background-color: #ff451a;
  box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

.mole-button-two:active,
.mole-button-two.activated
 {
  box-shadow: 0 0 0 1px #ff5c36 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #ff5c36;
  transform: translateY(10px);
}
.mole-button-three:hover,
.mole-button-three:focus
  {
  background-color: #ff451a;
  box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

.mole-button-three:active,
.mole-button-three.activated
 {
  box-shadow: 0 0 0 1px #ff5c36 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #ff5c36;
  transform: translateY(10px);
}
.mole-button-four:hover,
.mole-button-four:focus
  {
  background-color: #ff451a;
  box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

.mole-button-four:active,
.mole-button-four.activated
 {
  box-shadow: 0 0 0 1px #ff5c36 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #ff5c36;
  transform: translateY(10px);
}


