body {
    background-image: url(https://i.imgur.com/XI3RqSf.jpg)
}

h1 {
    font-family: 'Freckle Face', cursive;
    text-align: center;
    font-size: 65px;
    color: #9f5a3e
}

h2 {
    font-family: 'Slackey', cursive;
    text-align: center;
    color: rgb(225, 114, 114);
    font-size: 20px;
}

/* Styling the Start and Reset Buttons */

.button {
    margin: 0 ;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

#start {
    text-align: center;
    font-family: 'Slackey', cursive;
    display: inline;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 px #999;
}

#start:hover {background-color: #3e8e41}

#start:active {
    background-color: #3e8341;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#restart {
    text-align: center;
    margin: auto;
    font-family: 'Slackey', cursive;
    display: inline;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e68c58;
    border: none;
    border-radius: 15px;
    box-shadow: 0 px #999;
}

#restart:hover {background-color: #d78560}

#restart:active {
    background-color: #bb5008;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Styling the Round Counter */

.counter-container {
    text-align: center;
    font-family: 'Freckle Face', cursive;
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 0px 0px 0px 0px;
    border: 0.5px solid white;
    margin: 0px 200px 100px 50px;
}


.moles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh;
    gap: .5rem;
    border: 2px solid chartreuse;
    width: 500px;
    height: 500px;
    align-items: center;
    margin: 100px 100px 100px 100px;
}

#moleOne, #moleTwo {
    text-align: center;
    width: 200px;
    height: 100px;
    margin: 50px 100px 300px 100px;
}

#moleThree, #moleFour {
    text-align: center;
    width: 200px;
    height: 100px;
    margin: 50px 100px 800px 100px;
}